/* Body Styles */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  background: white;
  overflow-x: hidden;
}

main {
  flex: 1 0 auto;
}

hr {
  border-top: 1px solid #edebeb;
}

p {
  font-size: 18px;
}

a, a:focus, a:hover {
  color: rgba(0, 0, 0, 0);
}

.mainLoader {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background: white;
}


/*loader*/

.loader {
  position: relative;
  margin: 0 auto;
  max-width: 100px;
  height: 100px;
  margin-top: 100px;
}

.loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circular {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke: #607d8b;
  -webkit-animation: dash 1.5s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

.pw-heading {
  font-size: 50px;
  font-weight: 900;
  border-bottom: 5px solid;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.pw-subHeading {
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
}

.pw-pmColor {
  color: #607D8B !important;
}


/*change input line color*/

.form-control, .form-group .form-control {
  border: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(#000)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2)) !important;
  background-image: -webkit-linear-gradient(#000, #000), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
  background-image: -o-linear-gradient(#000, #000), -o-linear-gradient(#D2D2D2, #D2D2D2);
  background-image: linear-gradient(#000, #000), linear-gradient(#D2D2D2, #D2D2D2) !important;
}

.form-group.is-focused label.control-label {
  color: #000;
}

.has-error .input-group-addon {
  color: #000 !important;
}


/*navbar style*/

.pw-navbar {
  background: rgba(255, 255, 255, 0);
  position: fixed;
  left: 0;
  width: 100%;
  height: 65px;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  transition: all 0.35s linear;
}

.pw-navbar-scrolled {
  background: white;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.45);
}

.pw-navbar-scrolled>.pw-navbar-right>span {
  color: black;
  font-weight: 400;
  text-shadow: none;
}

.pw-navbar-scrolled>.pw-navbar-left>h5 {
  color: black;
  font-weight: 400;
  text-shadow: none;
}

.pw-navbar-left>h5 {
  text-align: center;
  text-shadow: 1px 1px 1px black;
  margin: 0;
  color: white;
}

.pw-navbar-left {
  text-align: center;
}

.pw-navbar-right>span {
  padding: 15px;
  color: white;
  font-size: 16px;
  font-weight: 400;
  text-shadow: 1px 1px 1px black;
  cursor: pointer;
}

.pw-first-section {
  height: 750px;
  max-height: 759px;
}

.jumbotron::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 25vw;
  width: 100%;
  background-image: url(../../img/2.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.pw-second-section {}

.pw-T-margin-15vh {
  margin-top: 15vh;
}

.r-T-margin-5p {
  margin-top: 5%;
}


/*----------------------------------------------------------------------------*/

.jumbotron {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-height: 750px;
  max-height: 759px;
  box-shadow: none !important;
  margin-bottom: 0 !important;
}

.pw-home-section-full, .pw-home-bg-image {
  display: flex;
  left: 0;
  top: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 15px;
}

.pw-home-bg-image {
  width: 120% !important;
  height: 120% !important;
  top: -10%;
  left: -10%;
  background: url('../../img/1.jpg') center center no-repeat;
  background-size: cover;
}

.pw-logo-scrolled {
  display: none;
}

.pw-btn {
  background: white;
  border: 2px solid #607D8B;
  border-radius: 50px;
  padding: 10px 30px;
  text-align: center;
  color: #607D8B;
  font-size: 16px;
  font-weight: 600;
}

.pw-hamburg-btn {
  position: fixed;
  border-radius: 50%;
  font-size: 24px;
  height: 56px;
  margin: auto;
  min-width: 56px;
  width: 56px;
  padding: 15px;
  overflow: hidden;
  z-index: 8;
  right: 5vh;
  top: 5vh;
  transform: scale(1);
  background: white;
  box-shadow: 1px 1px 5px #757575, 0px 0px 5px #757575;
  transition: all 0.5s linear;
}

.pw-hamburg-btn.active {
  transform: scale(50);
}

.pw-hamburg-icon {
  position: fixed;
  border-radius: 50%;
  font-size: 24px;
  height: 56px;
  margin: auto;
  min-width: 56px;
  width: 56px;
  padding: 15px;
  overflow: hidden;
  z-index: 99;
  right: 5vh;
  top: 5vh;
  background: transparent;
}

.pw-hamburg-icon>span {
  display: block;
  background: #607D8B;
  width: 100%;
  height: 3px;
  margin: 4px 0;
  transition: all 0.25s linear;
}

.pw-hamburg-icon.animate>span:first-child {
  transform: rotate(45deg);
  transform-origin: 6px 3px;
}

.pw-hamburg-icon.animate>span:nth-child(2) {
  display: none;
}

.pw-hamburg-icon.animate>span:last-child {
  transform: rotate(-45deg);
  transform-origin: 10px 3px;
}

.pw-hamburg-navigation {
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding: 15px;
  z-index: 10;
  overflow: hidden;
  transform: translateX(-150%);
  transition: all 0.5s linear;
}

.pw-hamburg-navigation.active {
  transform: translateX(0);
}

.pw-hamburg-navigation>ul>li {
  position: relative;
  font-size: 35px;
  font-weight: 900;
  color: #607d8b;
  text-shadow: 2px 2px 1px #BDBDBD;
}
