.r-padding0 {
  padding: 0 !important;
}
.r-margin0 {
  margin: 0 !important;
}
.r-pos-rel {
  position: relative;
}
.r-white {
  color: #fff;
}
.r-txt-shdow {
  text-shadow: 1px 3px 3px black;
}
.r-marginT15 {
  margin-top: 15px !important;
}
.r-padding15 {
  padding: 15px;
}
.r-paddingT100 {
  padding-top:100px;
}
.r-paddingLR100 {
  padding-left: 100px;
  padding-right: 100px;
}
.r-width-fit {
  width: fit-content;
}
