<div class="pw-hamburg-btn hidden-xl hidden-lg hidden-md" ng-class="setActive ? 'active' : ''"></div>
<div class="pw-hamburg-icon hidden-xl hidden-lg hidden-md" ng-click="setActive = !setActive" ng-class="setActive ? 'animate' : ''">
  <span></span>
  <span></span>
  <span></span>
</div>
<div class="pw-hamburg-navigation" ng-class="setActive ? 'active' : ''">
  <h1 class="pw-pmColor">Navigations</h1>
  <hr style="border-top: 1px solid #b0bfc6;">
  <ul class="r-padding0" type="none">
    <li>Home</li>
    <li>About</li>
    <li>Paths</li>
    <li>Contact</li>
  </ul>
</div>
