<div class="hidden-xl hidden-lg hidden-md pw-logo-sm">
  <a href="#/home">
    <img class="pw-logo" alt="logo" src="img/0-white.svg" width="100px">
  </a>
  <h5 class="r-margin0"><strong>PATHWALKERS</strong></h5>
</div>
<div class="pw-hamburg-btn hidden-xl hidden-lg hidden-md" ng-class="setActive ? 'active' : ''"></div>
<div class="pw-hamburg-icon hidden-xl hidden-lg hidden-md" ng-click="setActive = !setActive" ng-class="setActive ? 'animate' : ''">
  <span></span>
  <span></span>
  <span></span>
</div>
<div class="pw-hamburg-navigation" ng-class="setActive ? 'active' : ''">
  <h1>Navigations</h1>
  <hr style="border-top: 1px solid #b0bfc6;">
  <ul class="r-padding0" type="none">
    <li ng-click="goTo('/home');setActive = !setActive">Home</li>
    <li ng-click="goTo('/paths');setActive = !setActive">Paths</li>
    <li>Contact</li>
  </ul>
</div>
