<section class="pw-first-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 r-padding0">
        <div class="pw-paths-section">
          <div class="r-paddingT100 r-paddingLR100 hidden-sm hidden-xs">
            <h1 class="r-margin0 pw-heading" style="border:none;"><b class="r-white r-txt-shdow">Paths</b></h1>
            <h1 class="r-margin0 r-white r-txt-shdow text-uppercase"><strong>All walks are 2.5 to 3 hours.</strong></h1>
            <h3 class="r-margin0 r-white r-txt-shdow text-uppercase">Good walking footwear is advisable.</h3>
          </div>
          <div class="r-paddingT100 r-padding15 hidden-xl hidden-lg hidden-md">
            <h1 class="r-margin0 pw-heading" style="border:none;"><b class="r-white r-txt-shdow">Paths</b></h1>
            <h1 class="r-margin0 r-white r-txt-shdow text-uppercase"><strong>All walks are 2.5 to 3 hours.</strong></h1>
            <h3 class="r-margin0 r-white r-txt-shdow text-uppercase">Good walking footwear is advisable.</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="row pw-T-margin-25vh">
    <div class="col-lg-6">
      <h1 class="pw-counts pw-bg-paint-effect r-width-fit" data-count="01">Path</h1>
      <h2 class="text-uppercase pw-pmColor">The Ancient Labyrinth of Banaras:</h2>
      <p class="text-capitalize">
        We walk through the northern part of the old city, exploring the life inside these hidden alleyways. This walk starts from the centre and we walk among some of the oldest markets and residential areas, and see a few old temples and mansions along the
        way. These areas are also famous for their sweets and snacks.
      </p>
    </div>
    <div class="col-lg-6 hidden-xs">
      <img class="img-responsive" src="img/3.png" alt="second image" imageonload>
    </div>
  </div>
</div>
<div class="container">
  <div class="row pw-T-margin-25vh">
    <div class="col-lg-6 hidden-xs">
      <img class="img-responsive" src="img/3.png" alt="second image" imageonload>
    </div>
    <div class="col-lg-6">
      <h1 class="pw-counts pw-bg-paint-effect r-width-fit" data-count="02">Path</h1>
      <h2 class="text-uppercase pw-pmColor">The Bengali Alleys of Backpackers, Bakers and Music lovers:</h2>
      <p class="text-capitalize">
        We take you through an experience of where the action is happening among the creative Bengalis who worship Goddess Kali and cater to the needs of pilgrims coming from all over the country. The alleys in this walk are parallel to the river so we will explore
        and enjoy this vibe of the city,in and out of Ghats , visiting old houses,music stores and much more along the way.
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row pw-T-margin-25vh">
    <div class="col-lg-6">
      <h1 class="pw-counts pw-bg-paint-effect r-width-fit" data-count="03">Path</h1>
      <h2 class="text-uppercase pw-pmColor">The Weavers and Embroiderers Alleys:</h2>
      <p class="text-capitalize">
        Banaras is known for its silk weaving and it's every Indian bride's dream to have a Banarsi Saree for her wedding. In this route we will explore the houses of Ansari weavers and how they working to weave that dream of the Indian bride, along with other
        hand work like golden embroidery.
      </p>
    </div>
    <div class="col-lg-6 hidden-xs">
      <img class="img-responsive" src="img/3.png" alt="second image" imageonload>
    </div>
  </div>
</div>
<div class="container">
  <div class="row pw-T-margin-25vh">
    <div class="col-lg-6 hidden-xs">
      <img class="img-responsive" src="img/3.png" alt="second image" imageonload>
    </div>
    <div class="col-lg-6">
      <h1 class="pw-counts pw-bg-paint-effect r-width-fit" data-count="04">Path</h1>
      <h2 class="text-uppercase pw-pmColor">The temples of Varanasi:</h2>
      <p class="text-capitalize">
        We start this walk from the southern most Ghat of the holy city and walk to visit some of the very famous temples and sacred ponds of Varanasi. This includes Durga Kund and Sankat Mochan Temples are the main attractions of this walk along with some other
        exciting spots.
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row pw-T-margin-25vh">
    <div class="col-lg-6">
      <h1 class="pw-counts pw-bg-paint-effect r-width-fit" data-count="05">Path</h1>
      <h2 class="text-uppercase pw-pmColor">Darkness unto Light the Night Walk:</h2>
      <p class="text-capitalize">
        A walk to experience the evening/night life of Kashi , on this route we visit Aghori Ashram, a very old sacred well attached to infertility. The cremation spots and the night markets in the Alleyways. We finish off this walk with a special Pooja ceremony
        at a goddess Temple.
      </p>
    </div>
    <div class="col-lg-6 hidden-xs">
      <img class="img-responsive" src="img/3.png" alt="second image" imageonload>
    </div>
  </div>
</div>
